<div class="container mx-auto w-full h-screen flex items-center justify-center">
    <div class="h-full w-5/6">
        <div class="box-border px-2 py-2 w-full h-auto" role="alert" aria-label="Modo de uso">
            <p class="font-sans text-lg font-semibold">
                Teste
            </p>
        </div>

        <div class="px-2 py-4 w-full h-auto flex justify-center bg-purple-400">
            <form action="">
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <button type="submit">teste</button>
            </form>
        </div>

        <div class="box-border px-2 py-3 w-full">
            <textarea class="resize-none w-full h-auto rounded-md"></textarea>
        </div>
    </div>
</div>