<div class="container mx-auto w-full h-screen flex items-center justify-center">
    <div class="h-full w-5/6">
        <div class="box-border px-2 py-2 w-full h-auto" role="alert" aria-label="Modo de uso">
            <p class="font-sans text-base font-medium">
                Bem-vindo à revolucionária era da Medicina Personalizada, onde unimos a experiência dos médicos com a
                inteligência artificial do ChatGPT para oferecer diagnósticos mais precisos e abrangentes.
            </p>
            <app-button-primary (onClick)="teste()">
                Leia mais
            </app-button-primary>
            <br>
            <p class="font-sans text-sm font-semibold" *ngIf="false">
                Essa abordagem inovadora leva em conta a singularidade de cada paciente, considerando suas
                características genéticas, estilo de vida e ambiente. Com o ChatGPT, nossos médicos têm acesso a
                informações detalhadas e insights atualizados, proporcionando tratamentos personalizados e eficazes.
                Estamos comprometidos em capacitar a comunidade médica com ferramentas avançadas, valorizando sempre o
                papel crucial dos médicos. Junte-se a nós nesta jornada rumo a uma medicina mais humana, centrada no
                paciente e impulsionada pela inovação, onde a Medicina Personalizada com o ChatGPT promete melhores
                resultados e esperança para todos.
            </p>
        </div>

        <div class="px-2 py-4 w-full h-auto flex justify-center bg-purple-400">
            <form action="">
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <button type="submit">teste</button>
            </form>
        </div>

        <div class="box-border px-2 py-3 w-full">
            <textarea class="resize-none w-full h-auto rounded-md"></textarea>
        </div>
    </div>
</div>